nimcache/

# Executables shall be put in an ignored build/ directory
# Ignore dynamic, static libs and libtool archive files
build/
*.so
*.dylib
*.a
*.la
*.exe
*.dll

node_modules
nohup.out
hardhat.config.js
package-lock.json

# Individual test executables
all_tests
depositcontract
test
test_deposit_contract
test_ethhexstrings
test_execution_api
test_logs
test_null
test_null_conversion
test_quantity
test_signed_tx
test_utils
