name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@main
    with:
      nim-versions: '["version-2-0", "version-2-2", "devel"]'
      nimble-version: 9aa571f4de8284bf805f4ded3c2995d38012da52
      test-command: |
        ./ci-test.sh
